<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">Aula03 - Exercicios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" id="ex01" routerLink="/exercicio01">Exercício01</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="ex02" routerLink="/exercicio02">Exercício02</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="ex03" routerLink="/exercicio03">Exercício03</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="ex04" routerLink="/exercicio04">Exercício04</a>
      </li>

    </ul>

  </div>
</nav>