body {
  background-color: #efeeee;
}

.container {
  width: 700px;
  margin: 5% auto;
  background-color: #fff;
  box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83),
    6px 6px 16px 0 rgba(217, 210, 200, 0.897);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  background-color: #efeeee;
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

label {
  margin: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: -10px;
  font-weight: bold;
}

input[type="number"] {
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.89),
    6px 6px 16px rgba(165, 159, 151, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.466);
  margin-bottom: 10px;
  background-color: #efeeee;
}

input[type="submit"] {
  margin-top: 50px;
  padding: 10px 70px;
  letter-spacing: 0.7px;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83),
    6px 6px 16px rgba(217, 210, 200, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #ff0000;
  color: #fff;
}
input[type="submit"]:hover {
  background-color: rgba(255, 0, 0, 0.555);
}
