<div class="receita">
  <h1>{{vetor.nome}}</h1>
  <p>Ingredientes: {{vetor.ingredientes}}</p>
  <p>Modo de preparo:{{vetor.modoPreparo}}</p>
  <p>Serve {{vetor.quantidadePessoas}} pessoas.</p>

  <a href="/" class="btn btn-primary">Voltar</a>
</div>