<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<style>
  .container {
    display: flex;
    margin: 50px auto;
    max-width: 600px;
    padding: 50px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 20px;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .item {
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
  }

  table {
    max-width: 700px;
    margin-left: 400px;
    border-radius: 20px;
  }

  .item .btn {
    width: 200px;
  }


  table th {
    background-color: #c7c7c7;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #000;
    margin-right: 10px;
  }

  table td {
    background-color: #b3e7b3;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    margin-right: 10px;
  }

  table td a {
    text-decoration: none;
    color: #ff0000c9;
  }

  input[type="number"],
  input[type="text"] {
    border-radius: 5px;
    padding: 5px 5px;
    border: 1px solid #000;
    padding-left: 10px;
    margin-right: 10px;
  }

  img {
    width: 100px;
    height: 100px;
  }
</style>

<body>
  {{{body}}}
</body>

</html>